[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "epistasisGA"]
	path = epistasisGA
	url = https://github.com/mnodzenski/epistasisga
